.TodoTask {
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  margin-left: 10%;
  border-radius: 30px;
}
  
.TodoTask-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}
.TodoTask-p--complete {
  text-decoration: line-through;
}
  
  