* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  background-color: lavenderblush;
  display: flex;
  justify-content: space-evenly;
}

:root{
  --font-family: 'Nanum Gothic Coding', monospace;
  --font-family-titles: 'Pangolin', cursive;
}











