.CreateTodoButton {
    background-color: #317657;
    box-shadow: 0px 5px 25px rgba(97, 250, 204, 0.5);
    border: none;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    position: fixed;
    bottom: 160px;
    right: 25px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 140px;
    z-index: 1;
}
  
.CreateTodoButton:hover {
    background-color: #618afa;
    box-shadow: 0px 5px 25px rgba(97, 122, 250, 0.5);
}